<p style="color: green"><%= notice %></p>

<h1>Home</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show", book %>
      <%= link_to "Update", edit_book_path(book) %>
      <%= button_to "Delete", book, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
